<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <!--Responsive meta tag .. To ensure proper rendering and touch zooming for all devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Mission to Mars</title>
</head>

<body>
  <div class="overlay">
    <div class="container-fluid">

      <div class="row row-margin">
        <div class="col-12 col-md-12">
          <div class="column-color ">
            <header class="header">

              <div class="text-center">
                <h1 id="title">Mission to Mars</h1>
                <h3>All About Mars</h3>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data!</a></p>
              </div>

            </header>
          </div>
        </div>
      </div>

      <div class="row row-margin">
        <div class="col-12 col-md-8 description">
          <div class="column-color ">
            <!--Mars news-->
            <h1 class="heading">{{news.title}}</h1>
            <p class="heading">{{news.article}}</p>
            <small>{{news.date}}</small>

            <!--Mars Image-->
            <h2 class="heading">Featured Mars Image</h2>
            <img src="{{image.image}}" alt="mars" height="600" width="600">
          </div>
        </div>

        <!--Mars weather-->
        <div class="col-12 col-md-4 description">
          <div class="column-color ">
            <h2>Current Weather on Mars</h2>
            <p>{{weather.weather}}</p>


            <div class="row">
              <!--Mars facts-->
              <div class="col-12">
                <h2>Mars Facts</h2>
                <p>{{facts.dataframe | safe}}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
        <!--Mars Hemisphere-->
      <div class="row">
        <div class="col-md-12">
      
          <div id="mdb-lightbox-ui"></div>
      
          <div class="mdb-lightbox">
      
            <figure class="col-md-4">
                <img alt="picture" src= "{{hemisphere.image0}}" class="img-fluid">
            </figure>
      
            <figure class="col-md-4">
                <img alt="picture" src="{{hemisphere.image2}}" class="img-fluid" />
            </figure>

            <figure class="col-md-4">
              <img alt="picture" src= "{{hemisphere.image3}}" class="img-fluid">
          </figure>

            </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12">
      
          <div id="mdb-lightbox-ui"></div>
      
          <div class="mdb-lightbox">
      
            <figure class="col-md-4">
                <img alt="picture" src= "{{hemisphere.image3}}" class="img-fluid">
            </figure>
      
            <figure class="col-md-4">
                <img alt="picture" src="{{hemisphere.image4}}" class="img-fluid" />
            </figure>

            </div>
        </div>
      </div>
    
    </div>
    <!--container-->
  </div>
  <!--overlay-->
</body>
